---
import Layout from "../layouts/Layout.astro";

import Presentation from "../sections/Presentation.astro";
import Experience from "../components/Experience.astro";

import OpenSource from "../components/svg/OpenSource.svg";
import WebSite from "../components/svg/WebSite.svg";
import Project from "../components/Project.astro";
import Contribution from "../components/Contribution.astro";
import Svgl from "../components/svg/Svgl.svg";
---

<Layout title="Jared Muñoz | Portfolio">
  <main>
    <Presentation />
    <div class="relative top-[100dvh] lg:min-h-[320dvh]">
      <div class="absolute w-full z-20">
        <div
          id="experience"
          class="bg-input min-h-[100dvh] py-16 md:p-0 flex justify-center"
        >
          <div
            class="max-w-screen-lg mx-auto px-8 lg:px-0 w-full place-content-center grid grid-cols-1 lg:grid-cols-2 gap-x-16 gap-y-12"
          >
            <section class="flex flex-col gap-y-8">
              <h2 class="text-3xl font-medium">Working Experience</h2>
              <div class="flex flex-col gap-y-8">
                <Experience
                  position="Software Developer at"
                  company="Kristall"
                  message="March 2023 - Present"
                  image="/kristall.webp"
                  imageAlt="Kristall logo"
                />
                <Experience
                  position="Freelance at"
                  company="AreWePlaying"
                  message="August - October 2024"
                  image={WebSite}
                  imageAlt="Website image"
                />
                <Experience
                  position="Freelance at"
                  company="RoomMate"
                  message="June 2024"
                  image={WebSite}
                  imageAlt="Website image"
                />
              </div>
            </section>
            <section class="flex flex-col gap-y-8">
              <h2 class="text-3xl font-medium">Open Source Contributions</h2>
              <div class="flex flex-col gap-y-8">
                <Contribution
                  repo={{
                    name: "svgl",
                    url: new URL("https://github.com/pheralb/svgl"),
                  }}
                  user={{
                    name: "pheralb",
                    url: new URL("https://github.com/pheralb"),
                  }}
                  date="October 2024"
                  image={Svgl}
                  imageAlt="Open source image"
                />
                <Contribution
                  repo={{
                    name: "Hangman_Frontend",
                    url: new URL("https://github.com/Isa-hi/Hangman_Frontend"),
                  }}
                  user={{
                    name: "Isa-hi",
                    url: new URL("https://github.com/Isa-hi"),
                  }}
                  date="October 2024"
                  image={OpenSource}
                  imageAlt="Open source image"
                />
                <Contribution
                  repo={{
                    name: "miduconf-website",
                    url: new URL("https://github.com/midudev/miduconf-website"),
                  }}
                  user={{
                    name: "midudev",
                    url: new URL("https://github.com/midudev"),
                  }}
                  date="August 2024"
                  image={OpenSource}
                  imageAlt="Open source image"
                />
              </div>
            </section>
          </div>
        </div>
      </div>
      <div
        id="projects"
        class="sticky top-0 z-10 bg-background min-h-dvh grid place-content-center py-32"
      >
        <section
          class="max-w-screen-lg mx-auto flex flex-col gap-y-16 px-8 lg:px-0"
        >
          <Project
            title="Kristall"
            images={[
              { src: "/kristall-landing.avif", alt: "Kristall Landing Page" },
              {
                src: "/kristall-dashboard.avif",
                alt: "Kristall Dashboard Page",
              },
            ]}
            description="A full system for entrepreneurs to manage their businesses including clients, expenses, orders, products, and more."
            badges={[
              "NextJS",
              "TailwindCSS",
              "PostgreSQL",
              "React",
              "TypeScript",
              "Stripe",
              "NestJS",
              "Cloudflare R2",
            ]}
            link="https://kristall.app"
          />
          <Project
            title="AreWePlaying?"
            images={[
              { src: "/are-we-playing.avif", alt: "AreWePlaying main page" },
              {
                src: "/are-we-playing-login.avif",
                alt: "AreWePlaying login page",
              },
            ]}
            description="A website that allows BUAP students to find univerity sport matches between other universities."
            badges={[
              "NextJS",
              "TailwindCSS",
              "PostgreSQL",
              "React",
              "TypeScript",
              "NestJS",
              "Cloudflare R2",
            ]}
            link="https://are-we-playing.vercel.app/"
          />
          <Project
            title="RoomMate"
            images={[
              { src: "/roommate.avif", alt: "RoomMate main page" },
              {
                src: "/roommate-upload.avif",
                alt: "RoomMate upload apartment page",
              },
            ]}
            description="A website that allows students to search rooms and apartments near university campuses."
            badges={[
              "Angular",
              "TailwindCSS",
              "PostgreSQL",
              "NestJS",
              "TypeScript",
              "Google Maps API",
              "Cloudflare R2",
            ]}
            link="https://room-mate-gamma.vercel.app/"
          />
        </section>
      </div>
    </div>
  </main>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const screenHeight = window.innerHeight;
    const screenWidth = window.innerWidth;

    if (screenWidth >= 640) {
      return;
    }

    const experience = document.getElementById("experience");
    const projects = document.getElementById("projects");

    if (!experience || !projects) return;

    const experienceHeight = experience.offsetHeight;

    const heigthDifference = screenHeight + (experienceHeight - screenHeight);

    projects.style.paddingTop = `${heigthDifference + 64}px`;
  });
</script>
