---
import { Image } from "astro:assets";

interface Link {
  name: string;
  url: URL;
}

interface Props {
  date: string;
  image: any;
  imageAlt: string;
  repo: Link;
  user: Link;
}

const { date, image, imageAlt, repo, user } = Astro.props;
---

<article class="grid grid-cols-[auto_1fr] gap-x-4 gap-y-2">
  <aside class="rounded-md bg-background w-fit p-2 h-fit">
    <Image
      src={image}
      alt={imageAlt}
      width={48}
      height={48}
      class="rounded-md aspect-square object-contain"
    />
  </aside>
  <div>
    <header>
      <h3 class="text-xl font-medium text-balance">
        Contributor at
        <strong class="font-bold text-2xl">
          <a href={repo.url} target="_blank" class="hover:underline"
            >{repo.name}</a
          >
          by
          <a href={user.url} target="_blank" class="hover:underline"
            >@{user.name}</a
          >
        </strong>
      </h3>
    </header>
    <time class="opacity-70">{date}</time>
  </div>
</article>
